# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [4]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [8]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [11]:
cars1= cars1.loc[:,"mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [12]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [15]:
cars = pd.concat([cars1, cars2])
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [22]:
owners = np.random.randint(15000, high=73001, size=398, dtype='l')
owners

array([71310, 49000, 21244, 56478, 37998, 60659, 45507, 42655, 71971,
       66766, 37694, 46514, 50896, 71847, 71144, 61176, 39213, 56600,
       65272, 67459, 42807, 36071, 52119, 16041, 26949, 40246, 34184,
       43869, 40831, 41150, 67610, 36155, 31063, 66060, 30091, 47803,
       58574, 54447, 43572, 27750, 55720, 17917, 60675, 29762, 42055,
       40916, 53212, 70682, 20729, 31399, 53741, 61719, 35403, 15990,
       62595, 41785, 30998, 71424, 49543, 38812, 15096, 64934, 15074,
       25429, 57205, 21330, 70716, 69507, 21239, 67424, 42966, 45468,
       46515, 17930, 65220, 52549, 31133, 42811, 46593, 37764, 43164,
       34098, 28392, 19580, 63084, 56199, 45164, 27698, 48020, 72825,
       47126, 21630, 17683, 59524, 65247, 16426, 30995, 57509, 58626,
       60785, 46492, 46659, 53411, 66354, 40726, 33354, 40456, 58422,
       42441, 16600, 19133, 71426, 59749, 47485, 17964, 20723, 66509,
       21381, 72777, 16609, 26909, 52569, 43156, 56335, 45800, 49576,
       32365, 59635, 19000, 45169, 25490, 68934, 47365, 20421, 66488,
       57975, 63452, 48345, 35239, 38621, 72581, 25334, 59886, 60502,
       54650, 47361, 49892, 16988, 28554, 51268, 20830, 61644, 23242,
       50148, 40089, 43651, 39991, 46413, 34167, 69298, 57234, 16808,
       39762, 46187, 23368, 53094, 71096, 39133, 66338, 44153, 42307,
       70460, 43064, 21117, 72846, 60278, 57520, 71159, 65956, 62307,
       31896, 69882, 40585, 25162, 59317, 22846, 61438, 59276, 40943,
       68152, 41653, 28949, 26189, 18471, 68707, 55058, 39763, 45470,
       70721, 39647, 27041, 32046, 41080, 69790, 36530, 63962, 70402,
       21578, 59796, 68792, 34802, 49047, 55650, 69967, 63300, 35094,
       65958, 54648, 47089, 42798, 65851, 45513, 17674, 39623, 29201,
       60848, 59451, 72043, 45193, 64798, 15661, 63564, 36089, 71650,
       66475, 54286, 54747, 63437, 69959, 34685, 40084, 62829, 33684,
       35085, 58040, 30235, 43106, 63305, 68558, 42098, 65459, 36660,
       66480, 55526, 54009, 29432, 63917, 33973, 38291, 26281, 68433,
       61315, 58602, 67217, 54702, 61110, 69209, 25062, 53797, 52713,
       47331, 62777, 53076, 67123, 34029, 44906, 28883, 59437, 41526,
       61566, 24859, 49425, 33142, 20725, 51941, 33243, 38823, 54501,
       56590, 59800, 30486, 46304, 19013, 46644, 49229, 67220, 15029,
       16033, 51445, 50260, 45668, 35989, 29679, 25615, 15350, 34297,
       20649, 51507, 22695, 66946, 70636, 18167, 20092, 19321, 72025,
       56859, 36129, 55163, 51449, 16288, 40726, 37389, 43454, 67730,
       66133, 30262, 49310, 58245, 31566, 46570, 26018, 51398, 31458,
       24131, 25658, 69448, 22327, 69539, 63869, 37122, 55238, 47595,
       65344, 38211, 42359, 22452, 27814, 19395, 41412, 55628, 46907,
       15855, 17038, 68944, 23035, 44012, 44587, 44675, 62154, 58048,
       39839, 19181, 15481, 32876, 62515, 23719, 56429, 24151, 58862,
       68707, 31772, 68440, 46827, 45536, 32885, 56202, 28685, 15966,
       36925, 43724, 40304, 67916, 48903, 20164, 34765, 65024, 30862,
       65090, 60711, 63676, 54401, 39751, 31451, 35612, 64976, 69376,
       29946, 69710])

### Step 8. Add the column owners to cars